/*! SASS #style main */
@charset "UTF-8";

//@import "./abstracts/_.scss";
@import "./abstracts/variables.scss";

//@import "./vendors/_.scss";

//@import "./base/_.scss";

//@import "./components/_.scss";
@import "./components/cards/top-card.scss";

@import "./components/posts/input-post.scss";
@import "./components/posts/post.scss";
@import "./components/posts/comments.scss";

@import "./components/users/suggestion-user.scss";
@import "./components/users/statut-user.scss";
@import "./components/users/following-user.scss";

@import "./components/messages/notification.scss";
//@import "./layout/_.scss";
@import "./layout/navigation.scss";
@import "./layout/secondary-menu.scss";
@import "./layout/aside.scss";

//@import "./pages/_.scss";
@import "./pages/HomePage.scss";
@import "./pages/RegisterPage.scss";
@import "./pages/ProfilPage.scss";

//@import "./themes/_.scss"; 

body {
  //background-color: lightgray;
}

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden
}

.App {
  width: 100vw;
}